html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: all 0.3s ease-in-out;
}

    .btn-primary:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

.btn-outline-secondary {
    transition: all 0.3s ease-in-out;
}

    .btn-outline-secondary:hover {
        background-color: #f8f9fa;
        color: #0056b3;
        transform: scale(1.05);
    }

/* Tarjetas con sombra y bordes redondeados */
.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Inputs redondeados y sombreados */
.form-control {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

    .form-control:focus {
        box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
        outline: none;
    }

/* Animación para modales */
.modal-content {
    border-radius: 12px;
    animation: fadeIn 0.5s ease-in-out;
}

#favoritesModalBody {
    max-height: 400px;
    overflow-y: auto;
}

.list-group-item {
    transition: transform 0.3s ease-in-out;
}

    .list-group-item:hover {
        transform: scale(1.02);
        background-color: #f8f9fa;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
